.amarrillo {
    color: yellow;
}

.azul {
    color: blue;
}

.nuevaClase {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  yellowgreen;
}